.Profile {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 7px -2px #000000;
  overflow: hidden;
}

.Avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 30px;
}

.Name {
  font-weight: 600;
  font-size: 27px;
  margin: 30px 0 0;
}

.Location,
.Tag {
  font-size: 20px;
  font-weight: 400;
  color: dimgray;
  margin: 15px 0 0;
}

.Description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Stats {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.Stats-item {
  width: 100px;
  padding: 20px 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(225, 235, 252);
  border-top: rgb(185, 197, 214) 1px solid;
}

.Stats-item:not(:last-child) {
  border-right: rgb(185, 197, 214) 1px solid;
}

.Label {
  color: dimgray;
}

.Quantity {
  font-weight: 600;
}
