.Transaction-history {
  width: 600px;
  margin-top: 30px;
  border-radius: 5px;
  border: 0px;
  box-shadow: 2px 2px 7px -2px #000000;
  overflow: hidden;
  background-color: white;
}

.Table-header {
  height: 50px;
  text-transform: uppercase;
  background-color: rgb(126, 192, 247);
}

.Table-item {
  height: 50px;
}

.Table-row:nth-child(even) {
  background-color: rgb(225, 235, 252);
}
